body
{
    background-color: #F4F5F6;
    font-family: 'Noto Sans', sans-serif;
    color: #254558;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}

header
{
    margin-bottom: 2em;
}

header h1
{
    text-align: center;
}

.main-game
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a
{
    color: #1ED2F4;
    font-size: 1.5em;
    cursor: pointer;
}

a:hover
{
    color: #EAFC40;
}

.restart
{
  display: none;
}

.square
{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.square-row
{
  display: flex;
  flex-basis: 50%;
}

.square-cell
{
    flex-basis: 50%;
}

.square-cell:not(:first-child)
{
  border-left: 2px solid #F4F5F6;
}

.square-row:not(:last-child)
{
  border-bottom: 2px solid #F4F5F6;
}